* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  height: 100vh;
}

.table {
  height: calc(100vh - 200px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.table2 {
  height: 115px;
}

.head .box {
  background-color: black;
  color: white;
}

.head {
  border-radius: 5px 5px 0px 0px;
}

.box {
  padding-left: 20px;
  width: 25%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.box:nth-child(1) {
  width: 40px;
}

.row {
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.row button {
  height: 30px;
  width: 80px;
  margin-right: 5px;
  outline: none;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 15px;
  font-weight: 50;
  background-color: black;
  color: white;
}

.spare {
  width: 80px;
}
.hrow {
  background-color: black;
  display: flex;
  padding-right: 120px;
}

.body {
  width: 100%;
}

/********* ADD COMPONENT INPUTS *******/
.table2 input {
  outline: none;
  border: none;
  background-color: #eeeeee;
  border-bottom: 1px solid #90a4ae;
  color: #90a4ae;
  font-size: 20px;
  font-weight: 700px;
}

/********* ADD COMPONENT'S INPUTS *******/

/********* EDIT COMPONENT'S BUTTON *******/

.edit {
  background-color: #006064;
  border: none;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.link-edit {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/********* EDIT COMPONENT'S BUTTON *******/
/******** EIDT INPUTS ******/
.inp {
  outline: none;
  border: none;
  border-bottom: 1px solid #90a4ae;
  color: #90a4ae;
  font-size: 20px;
  font-weight: 700px;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
}

/******** EIDT INPUTS ******/
