.App {
  margin: 0px auto;
  text-align: center;
  width: 440px;
}

.table {
  width: 411px;
  margin: 0px auto;
  margin-top: 20px;
  border: 15px solid grey;
  border-radius: 10px;
  height: 330px;
  overflow: scroll;
}

.head .box {
  background-color: black;
  color: white;
}

.head {
  border-radius: 5px 5px 0px 0px;
}

.box {
  width: 100px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  width: 100%;
}
.body {
  width: 100%;
}
